@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

/* global index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-segoe: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* @utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
} */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.p-splitbutton .p-splitbutton-menubutton,
.p-splitbutton
  .p-splitbutton.p-button-rounded
  > .p-splitbutton-menubutton.p-button,
.p-splitbutton
  .p-splitbutton.p-button-outlined
  > .p-splitbutton-menubutton.p-button {
  @apply w-10 h-8.5 p-0 m-0 border-none bg-[#6366f1] hover:bg-[#eaeafd];
}

.pages-default {
  @apply w-full h-full bg-teal-300 grid place-items-center text-9xl font-sans tracking-widest;
}

/* Header Style */
.header {
  @apply relative w-full px-[20px] flex justify-between h-10 items-center border-b-[#E5E9EB] border-b;
}

.search-bar {
  @apply w-4/6 h-8  absolute left-1/2 transform -translate-x-1/2;
}

.upgrade-button {
  @apply flex items-center px-3 rounded-4xl bg-[#6366F1] gap-x-1.5 mr-3 cursor-pointer;
}

.upgrade-text {
  @apply text-white font-poppins font-medium text-[13px];
}

.user-dropdown {
  @apply flex justify-between items-center border-1 border-[#E5E9EB] w-14 h-8 rounded-4xl p-1 cursor-pointer;
}

.navigation-button {
  @apply w-8 h-8 cursor-pointer hover:bg-[#6366f1] overflow-hidden rounded-3xl;
}

/* sidenav bar */

.nav-bar {
  @apply w-17 p-3 border-[#E5E9EB] border-1 h-full;
}

.nav-container {
  @apply flex flex-col gap-y-2.5;
}

.seperator {
  @apply ml-2 inline-block w-[22px] h-0.5 bg-[#E5E9EB];
}

.nav-item {
  @apply rounded-lg cursor-pointer transition-colors;
}

.not-active {
  @apply hover:bg-[#eaeafd] text-[#48535B];
}

.active {
  @apply bg-indigo-500 text-[#48535B];
}

/* Chats Layout Style */

.chat-layout {
  @apply flex justify-between w-[calc(100vw-70px)] h-[calc(100vh-40px)] bg-[#f6f6f7];
}

.chat-user-list-container {
  @apply min-w-88  h-[calc(100vh-40px)] pl-2 pt-1 bg-white;
}

.chat-user-conversation {
  @apply w-[calc(70%-70px)] h-[calc(100vh-40px)] bg-[#F6F6F7];
}

.chat-user-menu-bar {
  @apply flex min-w-max h-[calc(100vh-40px)] bg-white;
}

.chat-default-page {
  @apply h-full w-full grid place-items-center text-center text-xl;
}

/* chat User List Top section Box */

.not-active-search-parent {
  @apply m-auto border-2 border-gray-400 rounded-4xl box-border hover:bg-[#F0F0FE] overflow-hidden cursor-pointer px-3 py-1 flex items-center justify-between group;
}

.not-active-search-input {
  @apply w-full h-full border-0 m-auto border-none rounded-4xl px-[12px] py-[2px];
}

.not-active-search-icon {
  @apply top-1.5 text-gray-500 group-hover:text-black  cursor-pointer;
}

.active-search-parent {
  @apply h-8.5 m-auto px-3 py-1 border-2 border-gray-400 rounded-full box-border flex items-center gap-2;
}

.active-search-icon {
  @apply cursor-pointer text-gray-500 hover:text-black;
}

.user-list-top-parent {
  @apply flex items-center gap-x-1 py-4;
}

.filter-icon {
  @apply rounded-lg p-2 cursor-pointer transition-colors;
}

.add-icon {
  @apply rounded-lg p-2 mr-1 cursor-pointer transition-colors;
}

.user-list-menu-parent {
  @apply flex w-full justify-between py-0.5 border-b-2 border-b-[#D7D7D7];
}

.user-list-menu-item {
  @apply flex items-center justify-center cursor-pointer;
}

.user-list-menu-selected {
  @apply text-indigo-500 border-t-2 box-border border-[#6366F1] rounded-t-lg bg-gradient-to-b from-[#eaeafd] to-[#ffffff];
}

/* User List Container */

.user-list-container {
  @apply mt-3 h-[calc(100vh-182.2px)] overflow-y-scroll scroll-smooth no-scrollbar;
}

.user-list-seperator {
  @apply text-xs text-gray-400 px-3 py-1 cursor-pointer;
}

.user-list {
  @apply cursor-grab box-border mb-1 p-3 pb-3.5 w-full h-full rounded-lg flex justify-between items-center hover:bg-[#EAEAFD];
}

.user-list-active {
  @apply pl-2 bg-gradient-to-r from-[#EAEAFD] to-[#ffffff] border-l-4 border-[#6366F1] rounded-l-lg;
}

.user-list-details-div {
  @apply flex flex-col justify-between pl-[14px];
}

.user-list-name {
  @apply font-poppins font-medium text-[14px] text-black;
}

.user-list-last-message {
  @apply flex justify-between font-poppins font-medium text-[12px] overflow-hidden text-[#8C8C8C];
}

.user-list-info-container {
  @apply flex flex-col justify-between pl-[14px] items-end font-poppins font-medium text-[12px] text-[#000000] gap-y-2.5;
}

.user-list-info-time {
  @apply font-medium text-[10px] text-[#8c8c8c] w-full h-2.5;
}

.user-list-info-stars-div {
  @apply flex justify-end w-full h-[16px] gap-1.5;
}

.user-list-info-unread {
  @apply w-4 h-4 text-[10px] bg-[#6366f1] rounded-full text-center text-white pt-[1.1px];
}

/* Conversation Box page */

.conversation-parent {
  @apply w-full h-[calc(100vh-114px)] p-4 overflow-y-scroll no-scrollbar scroll-smooth;
}

.conversation-message-container {
  @apply w-full flex flex-col gap-y-4;
}

.conversation-message-date {
  @apply text-center font-normal text-xs text-[#666668] my-1;
}

/* Conversation Box UserInfo */

.not-active-userInfo-search-parent {
  @apply h-8.5 m-auto border-2 border-gray-400 bg-[#eaeafd] rounded-4xl box-border hover:bg-[#F0F0FE] overflow-hidden cursor-pointer px-3 py-1 flex items-center justify-between group;
}

.not-active-userInfo-search-input {
  @apply w-full h-full border-0 m-auto border-none rounded-4xl px-[12px] py-[2px];
}

.not-active-userInfo-search-icon {
  @apply top-1.5 text-gray-500 group-hover:text-black  cursor-pointer;
}

.active-userInfo-search-parent {
  @apply m-auto px-3 h-8.5 py-1 border-2 bg-[#eaeafd] border-gray-400 rounded-full box-border flex items-center gap-2;
}

.active-userInfo-search-icon {
  @apply cursor-pointer text-gray-500 hover:text-black;
}

.conversation-user-info-parent {
  @apply w-full h-18.5 flex justify-between items-center p-4 border-b border-[#EAEAEB];
}

.conversation-user-info-image {
  @apply w-10.5 h-10.5 relative mr-2;
}

.conversation-user-info-user-name {
  @apply font-poppins font-medium text-[15px] text-black;
}

.conversation-user-info-whatsapp {
  @apply p-0.5 font-poppins font-medium text-[12px] text-[#48535B] flex items-center gap-x-1.5 cursor-pointer;
}

.conversation-user-info-addtag {
  @apply px-0.5 font-poppins font-medium text-[12px] text-[#48535B] flex hover:border hover:border-[#6366f1] items-center hover:text-[#6366f1] gap-x-1.5 cursor-pointer;
}

.conversation-user-info-split-button {
  @apply !bg-[#6366f1] w-29 !border-[#6366f1] hover:!bg-[#6366f1] text-white font-poppins text-xs rounded-lg px-3 h-8.5 flex items-center overflow-hidden;
}

.conversation-user-info-timer {
  @apply w-7 h-7 p-1 py-1.5 cursor-pointer hover:bg-[#eaeafd] rounded;
}

.conversation-user-info-search {
  @apply relative w-7 h-7 p-1 py-1.5 cursor-pointer hover:bg-[#eaeafd] rounded;
}

/* Conversation Box Left message */
